*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.pre-view{
  width: 50%;
  margin: auto;
} 
.file-input{
  width: 50%;
}
.flex{
  display: flex;
}
.flex-around{
  justify-content: space-around;
}