@import "support.css";
@import "theme.css";

body {
  font-size: .24rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100% !important;/* IOS禁止微信调整字体大小 */
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  font-weight: normal;
  font-style: normal;
  outline:none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}

li{
  list-style: none;
}

input{
  -webkit-appearance:none;
  outline:none;
  background-color: transparent;
}
input[disabled],input:disabled,input.disabled {
  opacity: 1;
  -webkit-appearance:none;
  outline:none;
}
input, textarea, button {
  border: none;
  background: none;
}
a{
  text-decoration: none;
  color: #393B3C;
}
*::-webkit-scrollbar {
  display: none;
}
html {
  min-height: 100%;
  touch-action: manipulation;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
