:root {
  --main-color1: #5187cf;
  --main-color2: #7ebacf;
  --main-color3: #FF6200;
  --theme-opacity1: rgba(12,194,207,0.16);
  --theme-opacity2: rgba(51, 120, 207, 0.42);
  --theme-opacity3: rgba(255,98,0, .6);
}

.blue-linear{
  background:linear-gradient(90deg,var(--main-color1),var(--main-color2));
  box-shadow:0 0.16rem 0.16rem 0 var(--theme-opacity1);
  color: #fff;
}
.blue-linear2{
  background:linear-gradient(90deg,var(--main-color1),var(--main-color2) 100%);
  box-shadow:0 0.04rem 0.16rem 0 var(--theme-opacity2);
}
.blue-linear-bg {
  background:linear-gradient(90deg,var(--main-color1),var(--main-color2));
}
.bg-blue, .attention-days-list input:checked + label.other-label{
  background-color: var(--main-color1)!important;
}
.font-blue, .previous-step:before, .auth-refuse:after, .items-total-after{
  color: var(--main-color1);
}
.blue-style input:checked+p, .user-agreement:checked, .blue-style2 input:checked+p{
  background-color: var(--main-color2)!important;
  border: 1px solid var(--main-color2);
}

.invoice-type input:checked + label, .days input:checked + label, .interval-input:checked + label  {
  background-color: var(--main-color2)!important;
  color: #fff;
}
.category-title-after {
  background: linear-gradient(to right, var(--main-color1),var(--main-color2));
}
.bg-orange{
  background-color: var(--main-color3);
}
.font-orange, .dialog-pack-color, .rule-price-num:nth-child(2){
  color: var(--main-color3);
}
.contacts-footer{
  box-shadow:0 0 0.24rem 0 var(--theme-opacity2);
}
.organ th{
  background-color: var(--main-color1);
  color: #fff;
}
.bg-orange-opacity{
  background: var(--theme-opacity3);
}
.bg-orange-opacity-01{
  background: rgba(255, 98, 0, 0.1);
}
.profile-marital input:checked{
  background: var(--main-color1);
  color: #fff;
}
.profile-marital input:checked + label{
  color: var(--main-color1);
}
.bg-blue-opacity{
  background-color: var(--theme-opacity1);
}
.font-orange-opacity{
  color: var(--theme-opacity3);
}
